/*
Author : Onextrapixel
URL: http://www.onextrapixel.com
*/


/************************************************
	      JCAROUSEL LITE		
************************************************/
#list {
height: 440px;
    margin: 30px auto 0;
    position: relative;
}

.slider {
	float:left;
	left: -5000px; 
	margin:15px; 
	position:relative; 
	visibility:hidden;	
}
	
.slider ul {
	height:100px;

}

.slider ul li {

}

.slider ul li img {
	cursor:pointer;
	height:100px; 
	/*padding-top:3px;*/
	width:120px;  
}

.prev {
  bottom: 0;
    cursor: pointer;
    float: left;
    left: 47.5%;
    margin: auto;

}

.next {
	 bottom: 0;
    cursor: pointer;
    float: right;
    right: 47.5%;

}

/************************************************
	      CAPTIFY CAPTION		
************************************************/
.caption-top, .caption-bottom {
	background: #000000;
	color: #ffffff; 
	cursor:default;
	padding:2px; 
	font-size:11px;   
	text-align:center;
}

.caption-top {
	border-width:0px;
}

.caption-bottom {
	border-width:0px;
}

.caption a, .caption a {
	background:#000;
	border:none; 
	text-decoration:none;  
	padding:2px;
}

.caption a:hover, .caption a:hover {
	background:#202020;
}
